*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/build/
/app/proguard-rules.pro
/.idea/
/gradle.properties
/gradlew
/app/build/
/app/.gitignore
/gradle/
/.gradle/
/gradlew.bat
